<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!-- Template Informations-->
  <meta name="lp-template-id" content="0214" />
  <meta name="lp-template-syntax-version" content="3.0" />
  <meta name="lp-template-version" content="1.25" />
  <meta name="lp-template-version-release-notes" content="added recommended image size on testimonial, minor css fix" />
  <meta name="lp-template-mobile-responsive" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Template Colors-->
  <meta name="lp-customizable-font" content="'Open Sans'; Main Font" />
  <meta name="lp-customizable-color" content="#363636; Header Top" />
  <meta name="lp-customizable-color" content="#1A7ABC; Header Background" />
  <meta name="lp-customizable-color" content="#faf9f9; Header Headline" />
  <meta name="lp-customizable-color" content="#f6f3f3; Header Sub-Headline" />
  <meta name="lp-customizable-color" content="#f4eded; Header Sub-Headline 02" />
  <meta name="lp-customizable-color" content="#f8f0f0; Header Sub-Headline 03" />
  <meta name="lp-customizable-color" content="#fac73c; Header Sub-Headline 03 Highlight" />
  <meta name="lp-customizable-color" content="#faf5f5; Header Feature Headline" />
  <meta name="lp-customizable-color" content="#f9f2f2; Header Feature Text" />
  <meta name="lp-customizable-color" content="#F8673C; Buy Box Background" />
  <meta name="lp-customizable-color" content="#FA4F28; Buy Box Border" />
  <meta name="lp-customizable-color" content="#EC4725; Buy Box Border 02" />
  <meta name="lp-customizable-color" content="#E05D37; Buy Box Arrow Background" />
  <meta name="lp-customizable-color" content="#fcfcfc; Buy Box Text" />
  <meta name="lp-customizable-color" content="#1c7bbd; Testimonial Text" />
  <meta name="lp-customizable-color" content="#207fc1; Testimonial Name" />
  <meta name="lp-customizable-color" content="#1d7dc0; Testimonial Source" />
  <meta name="lp-customizable-color" content="#F1F1F1; Author Background" />
  <meta name="lp-customizable-color" content="#fffeff; Author Image 01 Border" />
  <meta name="lp-customizable-color" content="#f66338; Author Name 01 Background" />
  <meta name="lp-customizable-color" content="#fdf5f2; Author Name 01 Text" />
  <meta name="lp-customizable-color" content="#FEFEFE; Author Image 02 Border" />
  <meta name="lp-customizable-color" content="#f56136; Author Name 02 Background" />
  <meta name="lp-customizable-color" content="#faf1ed; Author Name 02 Text" />
  <meta name="lp-customizable-color" content="#1876b6; Author Headline" />
  <meta name="lp-customizable-color" content="#1774b3; Author SubHeadline" />
  <meta name="lp-customizable-color" content="#1470b0; Author Text" />
  <meta name="lp-customizable-color" content="#1971ae; Author Text Highlight" />
  <meta name="lp-customizable-color" content="#FBC73A; Button Background" />
  <meta name="lp-customizable-color" content="#f3b50e; Button Hover" />
  <meta name="lp-customizable-color" content="#e7ac0c; Button Hover Border" />
  <meta name="lp-customizable-color" content="#f6cc5a; Button Hover Box Shadow" />
  <meta name="lp-customizable-color" content="#ECB624; Button Border" />
  <meta name="lp-customizable-color" content="#FDDD89; Button Box Shadow" />
  <meta name="lp-customizable-color" content="#fdfbfb; Button Text" />
  <meta name="lp-customizable-color" content="#323232; Footer Background" />
  <meta name="lp-customizable-color" content="#3998DA; Footer Text" />

  <!-- Styles -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'style' %>
  <!-- Styles End -->

  <!-- Javascript -->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'html5shiv.js' %>
  <%= javascript_include_tag 'modernizer.js' %>
  <%= javascript_include_tag 'functions.js' %>
  <!-- Javascript End -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35887162-3', 'auto');
      ga('send', 'pageview');
  </script>

</head>
<body>

<!-- Main Page -->
<div class="main-page">

  <!-- Header Main -->
  <div class="header-bg">
    <!-- Header Center -->
    <div class="header-center">

      <!-- Header Left -->
      <div class="header-left">
        <div class="header-title">
          Swift High Performance
        </div>
        <p class="header-text">
          Leverage Swift and enhance your code to take your applications to the next level
        </p>
        <p class="book-explains">
          Take your <b>Swift</b> knowledge to the <b>Next level</b>.
        </p>
        <div class="learn-box">
          <h2>You’ll Learn:</h2>
          <ul>
            <li>Build solid, high performance applications in Swift.</li>
            <li>Disassembling and analysing Swift and its Assembly code.</li>
            <li>Use to Xcode <b>LLBD</b> and <b>REPL</b> to debug commands.</li>
            <li>Avoid sharing resources by using concurrency and parallel programming.</li>
            <li>Understand the lazy loading pattern, lazy sequences, and lazy evolution.</li>
            <li>Explore Swift's features including its static type system, value objects, and functional programming.</li>
          </ul>
        </div>
      </div>
      <!-- Header Left End -->

      <!-- Header Right -->
      <div class="header-right">
        <div class="book"><img src="img/book.png" class="img-responsive" alt="Swift High Performance Book" data-lb-comment="Recommended size is 392 x 481 pixels."></div>
        <!--<div class="number"><img src="img/number.png" alt="" data-lb="editable-image editable-optional max-image-size=186" data-lb-id="seal-image" data-lb-name="Book Seal" data-lb-comment="Recommended size is 186 x 187 pixels."></div>-->
        <div class="star"><img src="img/star.png" alt="Ranking" data-lb="max-image-size=127" data-lb-comment="Recommended size is 127 x 20 pixels."></div>
      </div>
      <!-- Header Right End -->
    </div>
    <!-- Header Center End -->

  </div>
  <!-- Header Main  End -->
  <!-- Orange Box -->
  <div class="orange-box" data-lb-id="buy-section" data-lb-name="Buy Section" data-lb-comment="hide or show this area">
    <div class="orange-box-center">
      <div class="left-content" data-lb="editable-rich-text editable-optional" data-lb-id="content-text" data-lb-name="Buy Now Text" data-lb-comment="Enter your text here.">Buy It Now</div>
      <div class="right-content">
        <!--icon-->
        <a href="http://www.amazon.com/gp/product/B016BW45FQ" data-lb="editable-link link-only editable-optional" data-lb-id="buy-link-01" data-lb-name="Buy Button 01" data-lb-comment="Recommended size is 149 x 59 pixels."><img src="img/amazon-com.png" alt="" data-lb="editable-image editable-optional max-image-size=149" data-lb-id="button-image-01" data-lb-name="Buy Button Image 01" data-lb-comment="Recommended size is 149 x 59 pixels."></a>
        <a href="https://www.packtpub.com/application-development/swift-high-performance" data-lb="editable-link link-only editable-optional" data-lb-id="buy-link-03" data-lb-name="Buy Button 03" data-lb-comment="Recommended size is 143 x 59 pixels."><img src="img/packt.png" alt="" data-lb="editable-image editable-optional max-image-size=143" data-lb-id="button-image-03" data-lb-name="Buy Button Image 03" data-lb-comment="Recommended size is 143 x 59 pixels."></a>
        <!--icon-->
        <!--<a href="#" data-lb="editable-link link-only editable-optional" data-lb-id="buy-link-02" data-lb-name="Buy Button 02" data-lb-comment="Recommended size is 149 x 59 pixels."><img src="img/amazon-co-uk.png" alt="" data-lb="editable-image editable-optional max-image-size=149" data-lb-id="button-image-02" data-lb-name="Buy Button Image 02" data-lb-comment="Recommended size is 149 x 59 pixels."></a>-->
        <!--<a href="#" data-lb="editable-link link-only editable-optional" data-lb-id="buy-link-04" data-lb-name="Buy Button 04" data-lb-comment="Recommended size is 143 x 59 pixels."><img src="img/nook.png" alt="" data-lb="editable-image editable-optional max-image-size=143" data-lb-id="button-image-04" data-lb-name="Buy Button Image 04" data-lb-comment="Recommended size is 143 x 59 pixels."></a>-->
        <!--<a href="#" data-lb="editable-link link-only editable-optional" data-lb-id="buy-link-05" data-lb-name="Buy Button 05" data-lb-comment="Recommended size is 142 x 59 pixels."><img src="img/ibook.png" alt="" data-lb="editable-image editable-optional max-image-size=142" data-lb-id="button-image-05" data-lb-name="Buy Button 05" data-lb-comment="Recommended size is 142 x 59 pixels."></a></div>-->
    </div>
  </div>
  <!-- End Orange Box -->
  <!-- Content Area -->
  <!-- End Content Area -->
  <!-- About the Authors-->
  <div class="authors" data-lb="editable-optional" data-lb-id="author-section" data-lb-name="Authors Section" data-lb-comment="hide or show this entire area">
    <div class="authors-center">
      <!--left author boxes-->
      <div class="left-text" data-lb="editable-optional" data-lb-id="author-left-section" data-lb-name="Authors Left Area" data-lb-comment="hide or show this area">

        <!--author -->
        <div class="right-img" data-lb="editable-optional" data-lb-id="author-02" data-lb-name="Author Box 02" data-lb-comment="hide or show this author">
          <img src="img/me-author.png" alt="" data-lb="editable-image editable-optional max-image-size=216" data-lb-id="right-author-image" data-lb-name="Author Image 02" data-lb-comment="Recommended size is 216 x 326 pixels.">
          <p data-lb="editable-rich-text editable-optional" data-lb-id="author-name-02" data-lb-name="Author Name 02" data-lb-comment="Enter your text here.">Kostiantyn Koval</p>
        </div>
      </div>
      <!--right author text-->
      <div class="right-text" data-lb="editable-optional" data-lb-id="author-right-section" data-lb-name="Authors Right Area" data-lb-comment="hide or show this area">
        <p class="authors-text" data-lb="editable-rich-text editable-optional" data-lb-id="authors-headline" data-lb-name="Authors Headline" data-lb-comment="Enter your headline here.">About the Author</p>
        <p class="separately" data-lb="editable-richtext-area editable-optional" data-lb-id="separately-text" data-lb-name="Authors Sub Headline" data-lb-comment="Enter your sub headline here.">
          I Love Swift :)
        </p>
        <div class="small-text">
          <div class="small-box">
            <p data-lb="editable-richtext-area editable-optional" data-lb-id="small-box" data-lb-name="Authors Column 01" data-lb-comment="Enter your text here.">
              Kostiantyn Koval is a passionate developer with 5 years of experience. All the time, his main passion and work has been building iOS applications.
              <br><br>
              So far, he has built many different applications, including games, enterprise apps, and big platforms. He fell in love with Swift the first minute he saw it, and keeps expressing this to the rest of the world.
            </p>
          </div>
          <div class="small-box right">
            <p data-lb="editable-richtext-area editable-optional" data-lb-id="small-box-right" data-lb-name="Authors Column 02" data-lb-comment="Enter your text here.">
              Other than iOS, he is also interested in technologies and languages such as Scala, Clojure, LLVM, Ruby, JavaScript, and others.
              <br><br>
              He loves open source and blogging. You can find him on <a href="https://github.com/kostiakoval">GitHub</a> and his blogs at <a href="https://medium.com/@kostiakoval">Medium</a> and his <a href="http://kostiakoval.github.io">Website</a>.
              Other places to contact him is <a href="https://twitter.com/kostiakoval">Twitter</a> as @KostiaKoval.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End About the Authors -->

  <!-- Buy Write -->
  <div class="buy" data-lb="editable-optional" data-lb-id="button-section" data-lb-name="Button Section" data-lb-comment="Hide/show button section">
    <div class="box">
      <a href="http://www.amazon.com/gp/product/B016BW45FQ" data-lb="editable-link link-only" data-lb-id="button" data-lb-name="Button Link" data-lb-comment="Change your button link here.">
        <p><span data-lb="editable-rich-text editable-optional" data-lb-id="box-button-text01" data-lb-name="Button Text 01" data-lb-comment="Enter your box button text here.">Buy<b> Swift High Performance</b> on&nbsp;&nbsp;</span><img src="img/footer-amazon-com.png" alt="" data-lb="editable-image editable-optional  max-image-size=172" data-lb-id="buy-image" data-lb-name="Buy Image" data-lb-comment="Enter your logo here. Recommended size is 172 x 33 pixels."> <span data-lb="editable-rich-text editable-optional" data-lb-id="box-button-text02" data-lb-name="Button Text 02" data-lb-comment="Enter your box button text here.">Now!</span></p>
      </a>
    </div>
  </div>
  <!-- End Buy Write -->

  <!--footer-->
  <div class="footer" data-lb="editable-optional" data-lb-id="footer-section" data-lb-name="Footer Section" data-lb-comment="Show or hide this entire section">
    <p data-lb="editable-rich-text editable-optional" data-lb-id="footer" data-lb-name="Footer" data-lb-comment="Enter your footer text here.">Copyright &copy; 2015.</p>
  </div>
  <!--End footer -->
</div>
<!-- Main Page End -->

</body>
</html>