<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Swift High Performance</title>
  <meta name="description" content="Leverage Swift and enhance your code to take your applications to the next level">
  <meta name="keywords" content="swift, performance, programming, programming, improve performance, swift performance, applications">
  <meta name="author" content="Kostiantyn Koval">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Welcome Head -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <!-- Template Informations-->
  <meta name="lp-template-id" content="0214" />
  <meta name="lp-template-syntax-version" content="3.0" />
  <meta name="lp-template-version" content="1.25" />
  <meta name="lp-template-version-release-notes" content="added recommended image size on testimonial, minor css fix" />
  <meta name="lp-template-mobile-responsive" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Template Colors-->
  <meta name="lp-customizable-font" content="'Open Sans'; Main Font" />
  <meta name="lp-customizable-color" content="#363636; Header Top" />
  <meta name="lp-customizable-color" content="#1A7ABC; Header Background" />
  <meta name="lp-customizable-color" content="#faf9f9; Header Headline" />
  <meta name="lp-customizable-color" content="#f6f3f3; Header Sub-Headline" />
  <meta name="lp-customizable-color" content="#f4eded; Header Sub-Headline 02" />
  <meta name="lp-customizable-color" content="#f8f0f0; Header Sub-Headline 03" />
  <meta name="lp-customizable-color" content="#fac73c; Header Sub-Headline 03 Highlight" />
  <meta name="lp-customizable-color" content="#faf5f5; Header Feature Headline" />
  <meta name="lp-customizable-color" content="#f9f2f2; Header Feature Text" />
  <meta name="lp-customizable-color" content="#F8673C; Buy Box Background" />
  <meta name="lp-customizable-color" content="#FA4F28; Buy Box Border" />
  <meta name="lp-customizable-color" content="#EC4725; Buy Box Border 02" />
  <meta name="lp-customizable-color" content="#E05D37; Buy Box Arrow Background" />
  <meta name="lp-customizable-color" content="#fcfcfc; Buy Box Text" />
  <meta name="lp-customizable-color" content="#1c7bbd; Testimonial Text" />
  <meta name="lp-customizable-color" content="#207fc1; Testimonial Name" />
  <meta name="lp-customizable-color" content="#1d7dc0; Testimonial Source" />
  <meta name="lp-customizable-color" content="#F1F1F1; Author Background" />
  <meta name="lp-customizable-color" content="#fffeff; Author Image 01 Border" />
  <meta name="lp-customizable-color" content="#f66338; Author Name 01 Background" />
  <meta name="lp-customizable-color" content="#fdf5f2; Author Name 01 Text" />
  <meta name="lp-customizable-color" content="#FEFEFE; Author Image 02 Border" />
  <meta name="lp-customizable-color" content="#f56136; Author Name 02 Background" />
  <meta name="lp-customizable-color" content="#faf1ed; Author Name 02 Text" />
  <meta name="lp-customizable-color" content="#1876b6; Author Headline" />
  <meta name="lp-customizable-color" content="#1774b3; Author SubHeadline" />
  <meta name="lp-customizable-color" content="#1470b0; Author Text" />
  <meta name="lp-customizable-color" content="#1971ae; Author Text Highlight" />
  <meta name="lp-customizable-color" content="#FBC73A; Button Background" />
  <meta name="lp-customizable-color" content="#f3b50e; Button Hover" />
  <meta name="lp-customizable-color" content="#e7ac0c; Button Hover Border" />
  <meta name="lp-customizable-color" content="#f6cc5a; Button Hover Box Shadow" />
  <meta name="lp-customizable-color" content="#ECB624; Button Border" />
  <meta name="lp-customizable-color" content="#FDDD89; Button Box Shadow" />
  <meta name="lp-customizable-color" content="#fdfbfb; Button Text" />
  <meta name="lp-customizable-color" content="#323232; Footer Background" />
  <meta name="lp-customizable-color" content="#3998DA; Footer Text" />

  <!-- Styles -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'style' %>
  <!-- Styles End -->

  <!-- Javascript -->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'html5shiv.js' %>
  <%= javascript_include_tag 'modernizer.js' %>
  <%= javascript_include_tag 'functions.js' %>
  <!-- Javascript End -->
</head>
<body>

<%= yield %>

</body>
</html>
